---
import I18nKey from "../../i18n/i18nKey";
import { i18n } from "../../i18n/translation";
import { getProductCategoryList } from "../../utils/content-utils";
import WidgetLayout from "./WidgetLayout.astro";

const categories = await getProductCategoryList();

const COLLAPSED_HEIGHT = "7.5rem";
const COLLAPSE_THRESHOLD = 5;

const isCollapsed = categories.length >= COLLAPSE_THRESHOLD;

interface Props {
	class?: string;
	style?: string;
}
const className = Astro.props.class;
const style = Astro.props.style;
---

<WidgetLayout name={i18n(I18nKey.productCategories)} id="product-categories" isCollapsed={isCollapsed} collapsedHeight={COLLAPSED_HEIGHT}
                class={className} style={style} dataI18n="productCategories"
>
    {categories.map((c) =>
        <div
            class="w-full h-10 rounded-lg ps-2 flex items-center
                text-neutral-700 dark:text-neutral-300"
        >
            <div class="flex items-center justify-between relative me-2 w-full">
                <div class="overflow-hidden text-start whitespace-nowrap overflow-ellipsis">
                    {c.name.trim()}
                </div>
                <div class="transition px-2 h-7 ms-4 min-w-[2rem] rounded-lg text-sm font-bold
                    text-[var(--btn-content)] dark:text-[var(--deep-text)]
                    bg-[var(--btn-regular-bg)] dark:bg-[var(--primary)]
                    flex items-center justify-center">
                    {c.count}
                </div>
            </div>
        </div>
    )}
</WidgetLayout>
