---
import type { GetStaticPaths } from "astro";
import type { CollectionEntry } from "astro:content";
import Pagination from "../components/control/Pagination.astro";
import ProductCard from "../components/ProductCard.astro";
import { PAGE_SIZE } from "../constants/constants";
import MainGridLayout from "../layouts/MainGridLayout.astro";
import { getSortedProducts } from "../utils/content-utils";
import { getProductUrlBySlug } from "../utils/url-utils";

export const getStaticPaths = (async ({ paginate }) => {
	const allProducts = await getSortedProducts();
	return paginate(allProducts, { pageSize: PAGE_SIZE });
}) satisfies GetStaticPaths;

const { page } = Astro.props;

const len = page.data.length;
---

<MainGridLayout>
    <div class="transition flex flex-col rounded-[var(--radius-large)] bg-[var(--card-bg)] py-1 md:py-0 md:bg-transparent md:gap-4 mb-4">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
            {page.data.map((entry: CollectionEntry<"products">, i: number) => (
                <ProductCard
                    entry={entry}
                    title={entry.data.title}
                    url={getProductUrlBySlug(entry.slug)}
                    image={entry.data.image}
                    description={entry.data.description}
                    price={entry.data.price}
                    draft={entry.data.draft}
                    class:list="onload-animation"
                    style={`animation-delay: calc(var(--content-delay) + ${i * 50}ms);`}
                />
            ))}
        </div>
    </div>
    <Pagination class="mx-auto onload-animation" page={page} style={`animation-delay: calc(var(--content-delay) + ${(len)*50}ms)`}></Pagination>
</MainGridLayout>